{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": -23.187036094737955,
    "longitude": -47.29009687900543,
    "elevation": 524,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "America/Sao_Paulo",
    "external_url": null,
    "internal_url": null,
    "currency": "BRL",
    "country": "BR",
    "language": "en",
    "radius": 10
  }
}